* {
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

main {
    height: 100%;
}

a {
    text-decoration: none;
}

.title {
    color: black;
    font-weight: bold;
}